[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Volontariapp/api-gateway.git
	ignore = untracked
[submodule "ci-tools"]
	path = ci-tools
	url = https://github.com/Volontariapp/ci-tools.git
[submodule "ms-event"]
	path = ms-event
	url = https://github.com/Volontariapp/ms-event.git
[submodule "ms-post"]
	path = ms-post
	url = https://github.com/Volontariapp/ms-post.git
[submodule "ms-user"]
	path = ms-user
	url = https://github.com/Volontariapp/ms-user.git
[submodule "nativapp"]
	path = nativapp
	url = https://github.com/Volontariapp/nativapp.git
[submodule "npm-packages"]
	path = npm-packages
	url = https://github.com/Volontariapp/npm-packages.git
